/* Base styles */
.buttonBase {
  width: 8.375rem;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: none;
  color: #f2f4fe;
  font-family: Jost;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBase:hover {
  cursor: pointer;
}
/* Purple button */
.button1 {
  background: #ad1fea;
}

.button1:hover {
  background-color: #c75af6;
}
/* Blue button */
.button2 {
  background: var(--color-blue);
}

.button2:hover {
  background-color: #7c91f9;
}

.button3 {
  background-color: #3a4374;
}

.button3:hover {
  background-color: #656ea3;
}

.button4 {
  background-color: #d73737;
}

.button4:hover {
  background-color: #e98888;
}

/* A text only button */
.textButton {
  padding: 0;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  color: var(--color-blue);
}

.textButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .buttonBase {
    padding: 12px 24px;
    width: 9.875rem;
    height: 2.75rem;
    font-size: 0.875rem;
  }

  .textButton {
    padding: 0;
    width: fit-content;
    height: fit-content;
  }
}
