.buttonBase {
  width: 8.375rem;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: none;
  color: #f2f4fe;
  font-family: Jost;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: normal;
}

.buttonBase:hover {
  cursor: pointer;
}

.button1 {
  background: #ad1fea;
}

.button1:hover {
  background-color: #c75af6;
}

@media screen and (min-width: 768px) {
  .buttonBase {
    padding: 12px 24px;
    width: 9.875rem;
    height: 2.75rem;
    font-size: 0.875rem;
  }
}
