.logoBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--logo-background);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 1.5rem;
  height: 4.5rem;
  overflow: hidden;
  z-index: 3;
  position: relative;
}

.overlay {
  background-color: var(--color-black);
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo,
.logoSub {
  color: var(--color-white);
}

.logo {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--ls-logo-sm);
}

.logoSub {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-medium);
  opacity: 0.75;
}

img[alt="close"],
img[alt="hamburger"] {
  cursor: pointer;
  transition: all 0.25s linear;
  position: absolute;
  right: 1.5rem;
}

.hidden {
  z-index: -10;
  transform: translateX(100%);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .logoBox {
    padding: 1.5rem;
    align-items: flex-end;
    width: 13.9375rem;
    height: 11.125rem;
    border-radius: 0.625rem;
  }

  .logo {
    font-size: var(--font-size-xl);
    letter-spacing: var(--ls-md);
  }

  .logoBox p {
    font-size: var(--font-size-sm);
  }

  img[alt="close"],
  img[alt="hamburger"] {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .logoBox {
    background-image: var(--logo-background);
    width: 15.9375rem;
    height: 8.5625rem;
  }
}
