/* CSS reset from https://github.com/shannonmoeller/reset-css */
@import "reset-css";

@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Variable.ttf") format("truetype");
}

/* Set everything to use box-sizing: border-box */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: var(--color-off-white-1);
  font-family: "Jost", sans-serif;
  width: 100vw;
  height: 100vh;
}

/* Theming */
:root {
  /*** Colors ***/
  --text-light: #ffffff; /* same as color-white */
  --text-dark: #3a4374; /* same as color-dark-blue-2 */

  --color-white: #ffffff;
  --color-off-white-1: #f7f8fd;
  --color-off-white-2: #f2f4ff;

  --color-black: #000000;

  --color-blue: #4661e6;
  --color-sky-blue: #62bcfa;
  --color-faded-blue: #647196;
  --color-dark-blue-1: #373f68;
  --color-dark-blue-2: #3a4374;

  --color-lavender: #cfd7ff;
  --color-purple: #ad1fea;

  --color-coral: #f49f85;

  --logo-background: radial-gradient(166.82% 166.82% at 103.9% -10.39%, #e84d70 0%, #a337f6 53.09%, #28a7ed 100%);

  /*** Typography ***/

  /* Font families */
  --font-family: "Jost", sans-serif;

  /* Font sizes */
  --font-size-xxs: 0.8125rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 0.9375rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Letter spacing */
  --ls-xs: -0.01131rem;
  --ls-sm: -0.01213rem;
  --ls-md: -0.01563rem;
  --ls-lg: -0.02081rem;
  --ls-logo-sm: -0.01169rem;
}
